:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000 !important;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  /* place-items: center; */
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  /* background-color: #000000 !important; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  text-decoration: underline 4px solid #7d0cd4;
  text-underline-offset: 8px;
}

.google {
  border: double 1px transparent;
  border-radius: 40px;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.purple-text {
  color: #7d0cd4 !important;
}

.purple {
  background-color: #7d0cd4 !important;
  border-color: #7d0cd4 !important;
}

.purple-outline {
  background-color: transparent !important;
  color: #7d0cd4 !important;
  border-color: #7d0cd4 !important;
}

.purple-outline:hover {
  background-color: #7d0cd4 !important;
  color: #ffffff !important;
}

.bg-blur {
  background: transparent;
  backdrop-filter: blur(10px);
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  border: 1px solid #7d0cd4;
}

.is-attending:hover span {
  display: none
}

.is-attending:hover:before{
  content: "✖ Cancel attendance"
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
